*{
    margin:0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
    width:140px;
    height: 30px;
}

#setting{
    display: flex;
    justify-content: space-between;
}

.texte{
    margin: auto;
}

input{
    position: relative;
    top: 1px;
    width:60px;
    border: outset;
}
